.btn {
  display: block;
  width: 100%;
  border-radius: 5px;
  border: 0;
  @include transition(.5s);
  @include pointer;
  &:hover {
      @include transparentBackground(0.3); 
  }

  &-block {
    display: block;
    width: 100%;
  }

  &-primary {
    text-transform: uppercase;
    background-color: transparent;
    color: #fff;
    padding: 15px 0 15px 8px;
  }

  &-secondary {
    text-transform: uppercase;
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
  }

  &-delete {

  }

  &-add {

  }

  &-edit {

  }

  &-modal-close {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    transform: rotate(45deg) translateZ(0);
    font-size: 24px;
    color: $darkGray;
    margin-right: 5px;
    @include pointer;
    @include transition(.35s);
    &:hover { transform: translateY(-2px) rotate(45deg) translateZ(0) }
  }
}

