.title-primary {
  font-size: 3em;
}

.title-secondary {
  font-size: 1.5em;
}

.text-lead {
  color: $darkGray;
}

.text-italic {
  font-style: oblique;
}

.text-bold {
  font-weight: bold;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.nav-link {
  text-decoration: none;
  color: $darkGray;
  padding-bottom: 0px;
  padding-top: 25px;
  display: inline-block;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  @include transition(.35s);
  &:hover {
      color: $darkGrayHover;
      padding-bottom: 8px;
      border-bottom: 2px solid $darkGrayHover;
  }
}