/* 
Paddings and margins 
10 - Vertical padding
22 - Left Padding
34 - Right Padding
46 - Vertical Margin (used for container spacing only!)
58 - Left Margin
70 - Right Margin
*/
.py {
  &-xxs { @include verticalPadding(5px) }

  &-xs { @include verticalPadding(10px) }

  &-sm { @include verticalPadding(15px) }

  &-md { @include verticalPadding(20px) }

  &-lg { @include verticalPadding(30px) }
}

.p-left {
  &-xxs { padding-left: 5px !important; }

  &-xs { padding-left: 10px !important; }

  &-sm { padding-left: 15px !important; }

  &-md { padding-left: 20px !important; }

  &-lg { padding-left: 30px !important; }
}

.p-right {
  &-xxs { padding-right: 5px !important; }

  &-xs { padding-right: 10px !important; }

  &-sm { padding-right: 15px !important; }

  &-md { padding-right: 20px !important; }

  &-lg { padding-right: 30px !important; }
}

.my {
  &-xxs { @include verticalMargin(10px) }

  &-xs { @include verticalMargin(20px) }

  &-sm { @include verticalMargin(30px) }

  &-md { @include verticalMargin(40px) }

  &-lg { @include verticalMargin(50px) }
}

.m-left {
  &-xxs { margin-left: 5px !important; }

  &-xs { margin-left: 10px !important; }

  &-sm { margin-left: 15px !important; }

  &-md { margin-left: 20px !important; }

  &-lg { margin-left: 30px !important; }
}

.m-right {
  &-xxs { margin-right: 5px !important; }

  &-xs { margin-right: 10px !important; }

  &-sm { margin-right: 15px !important; }

  &-md { margin-right: 20px !important; }

  &-lg { margin-right: 30px !important; }
}

.m-auto {
  margin: {
    left: auto;
    right: auto;
  }
}