@font-face {
  font-family: 'Montserrat Regular';
  src: url(/fonts/montserrat-v12-latin-regular.eot);
  src: url(/fonts/montserrat-v12-latin-regular.eot?#iefix) format("embedded-opentype"), url(/fonts/montserrat-v12-latin-regular.woff) format("woff"), url(/fonts/montserrat-v12-latin-regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat Semibold';
  src: url(/fonts/montserrat-v12-latin-500.eot);
  src: url(/fonts/montserrat-v12-latin-500.eot?#iefix) format("embedded-opentype"), url(/fonts/montserrat-v12-latin-500.woff) format("woff"), url(/fonts/montserrat-v12-latin-500.ttf) format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat Bold';
  src: url(/fonts/montserrat-v12-latin-600.eot);
  src: url(/fonts/montserrat-v12-latin-600.eot?#iefix) format("embedded-opentype"), url(/fonts/montserrat-v12-latin-600.woff) format("woff"), url(/fonts/montserrat-v12-latin-600.ttf) format("truetype");
  font-weight: 600;
  font-style: normal; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  outline: none;
  font-family: 'Montserrat Regular', sans-serif; }

body {
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  color: white;
  font-weight: 400; }

main {
  display: block; }

/* Layout styling */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap; }
  .flex-column {
    flex-flow: column nowrap; }

.d-block {
  display: block; }

#app {
  position: relative; }

/* 
Paddings and margins 
10 - Vertical padding
22 - Left Padding
34 - Right Padding
46 - Vertical Margin (used for container spacing only!)
58 - Left Margin
70 - Right Margin
*/
.py-xxs {
  padding-top: 5px;
  padding-bottom: 5px; }

.py-xs {
  padding-top: 10px;
  padding-bottom: 10px; }

.py-sm {
  padding-top: 15px;
  padding-bottom: 15px; }

.py-md {
  padding-top: 20px;
  padding-bottom: 20px; }

.py-lg {
  padding-top: 30px;
  padding-bottom: 30px; }

.p-left-xxs {
  padding-left: 5px !important; }

.p-left-xs {
  padding-left: 10px !important; }

.p-left-sm {
  padding-left: 15px !important; }

.p-left-md {
  padding-left: 20px !important; }

.p-left-lg {
  padding-left: 30px !important; }

.p-right-xxs {
  padding-right: 5px !important; }

.p-right-xs {
  padding-right: 10px !important; }

.p-right-sm {
  padding-right: 15px !important; }

.p-right-md {
  padding-right: 20px !important; }

.p-right-lg {
  padding-right: 30px !important; }

.my-xxs {
  margin-top: 10px;
  margin-bottom: 10px; }

.my-xs {
  margin-top: 20px;
  margin-bottom: 20px; }

.my-sm {
  margin-top: 30px;
  margin-bottom: 30px; }

.my-md {
  margin-top: 40px;
  margin-bottom: 40px; }

.my-lg {
  margin-top: 50px;
  margin-bottom: 50px; }

.m-left-xxs {
  margin-left: 5px !important; }

.m-left-xs {
  margin-left: 10px !important; }

.m-left-sm {
  margin-left: 15px !important; }

.m-left-md {
  margin-left: 20px !important; }

.m-left-lg {
  margin-left: 30px !important; }

.m-right-xxs {
  margin-right: 5px !important; }

.m-right-xs {
  margin-right: 10px !important; }

.m-right-sm {
  margin-right: 15px !important; }

.m-right-md {
  margin-right: 20px !important; }

.m-right-lg {
  margin-right: 30px !important; }

.m-auto {
  margin-left: auto;
  margin-right: auto; }

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto; }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.col-sm-3 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%; }

.col-sm-4 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.3333333333%;
  -ms-flex: 0 0 33.3333333333%;
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%; }

.col-sm-5 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 41.6666667%;
  -ms-flex: 0 0 41.6666667%;
  flex: 0 0 41.6666667%;
  max-width: 41.6666667%; }

.col-sm-6 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%; }

.col-sm-12 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 91.9333333%;
  -ms-flex: 0 0 91.9333333%;
  flex: 0 0 91.9333333%;
  max-width: 91.9333333%; }

.btn {
  display: block;
  width: 100%;
  border-radius: 5px;
  border: 0;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer; }
  .btn-block {
    display: block;
    width: 100%; }
  .btn-primary {
    text-transform: uppercase;
    background-color: transparent;
    color: #fff;
    padding: 15px 0 15px 8px; }
    .btn-primary:hover {
      background-color: rgba(255, 255, 255, 0.3); }
  .btn-secondary {
    text-transform: uppercase;
    background-color: #333;
    color: #fff;
    padding: 10px 15px; }
    .btn-secondary:hover {
      background-color: #4d4d4d; }
    .btn-secondary:active, .btn-secondary:focus {
      background-color: #1a1a1a; }
  .btn-modal-close {
    position: absolute;
    top: 0;
    right: 0%;
    background-color: transparent;
    border: none;
    transform: rotate(45deg) translateZ(0);
    font-size: 24px;
    color: #373737;
    margin-right: 5px;
    cursor: pointer;
    -webkit-transition: all 0.35s ease;
    -ms-transition: all 0.35s ease;
    transition: all 0.35s ease; }
    .btn-modal-close:hover {
      transform: translateY(-2px) rotate(45deg) translateZ(0); }
  .btn-form-close {
    position: absolute;
    top: 0;
    right: -45%;
    background-color: transparent;
    border: none;
    transform: rotate(45deg) translateZ(0);
    font-size: 24px; }

.dropdown-primary {
  -webkit-appearance: none;
  font-size: 1em;
  font-family: inherit;
  margin: 5px 0;
  color: inherit;
  border: none;
  padding: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: rgba(255, 255, 255, 0.3); }
  .dropdown-primary:hover {
    background-color: rgba(255, 255, 255, 0.6); }
  .dropdown-primary__option {
    color: white;
    font-family: 'Montserrat Regular';
    background: #67D5AD; }

.dropdown-secondary {
  font-size: 1em;
  font-family: inherit;
  margin: 0;
  color: inherit;
  border: 1px solid #ced4da;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .dropdown-secondary__option {
    font-family: 'Montserrat Regular'; }

.form-legend {
  display: block;
  font-size: 1.3em;
  font-weight: bold; }

.form-label {
  display: block;
  font-size: 1em; }

.form-control {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ced4da; }

.form-control-animated {
  transition: border .5s ease; }
  .form-control-animated:focus {
    border: 1px solid #25b7c4; }

.form-submit {
  width: 20%;
  text-align: center; }

/* Styling modal window */
.modal-window {
  position: absolute;
  top: 20%;
  left: 35%;
  min-width: 300px;
  background-color: white;
  z-index: 1000;
  max-width: 800px;
  background-color: white;
  color: black;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .modal-window * {
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .modal-window.visible {
    opacity: 1;
    z-index: 1000; }
  .modal-window.hidden {
    opacity: 0;
    z-index: -1000; }
  .modal-window__caption:after {
    display: inline-block;
    content: "";
    border-top: 1px solid #373737;
    width: 100%; }
  .modal-window__info-item {
    flex-direction: column;
    height: 90px;
    justify-content: space-between; }
    .modal-window__info-item:not(:last-child):after {
      display: inline-block;
      content: "";
      border-top: 1px solid #373737;
      width: 100%; }

.dialog-window {
  position: absolute;
  right: 50px;
  min-width: 300px;
  background-color: white;
  z-index: 1;
  max-width: 800px;
  background-color: white;
  color: black;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .dialog-window * {
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .dialog-window.visible {
    opacity: 1;
    z-index: 1000; }
  .dialog-window.hidden {
    opacity: 0;
    z-index: -1000; }

.sidebar {
  width: 15vw;
  position: fixed;
  left: 30px;
  flex-direction: column;
  background-color: transparent;
  padding: 5px;
  font-family: 'Montserrat Semibold';
  font-weight: 600; }

.table-fixed {
  width: 100%;
  table-layout: fixed; }

.table-header {
  width: 75vw;
  position: relative;
  left: 20%;
  background-color: rgba(255, 255, 255, 0.3); }
  .table-header__cell {
    text-transform: uppercase;
    padding: 20px 15px;
    text-align: left;
    color: #fff;
    font-size: 14px;
    font-family: 'Montserrat Regular';
    cursor: pointer; }
  .table-header__cell-sm {
    width: 70px; }

.table-body {
  height: 81vh;
  overflow-x: auto;
  margin-top: 0px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 75vw;
  position: relative;
  left: 20%; }
  .table-body__cell {
    vertical-align: middle;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
    padding: 20px 15px;
    text-align: left;
    color: #fff;
    font-size: 16px;
    font-family: 'Montserrat Regular';
    cursor: pointer; }
  .table-body__cell-sm {
    word-wrap: break-word;
    width: 70px; }

.title-primary {
  font-size: 3em; }

.title-secondary {
  font-size: 1.5em; }

.text-lead {
  color: #373737; }

.text-italic {
  font-style: oblique; }

.text-bold {
  font-weight: bold; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.nav-link {
  text-decoration: none;
  color: #373737;
  padding-bottom: 0px;
  padding-top: 25px;
  display: inline-block;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  -webkit-transition: all 0.35s ease;
  -ms-transition: all 0.35s ease;
  transition: all 0.35s ease; }
  .nav-link:hover {
    color: #6a6a6a;
    padding-bottom: 8px;
    border-bottom: 2px solid #6a6a6a; }

.modal-form {
  display: absolute;
  top: 0;
  left: 0;
  max-width: 600px; }

/* Always at the end */
