@import 'vars';
@import '_utilities/mixins';
@import 'fonts';
@import 'base';
@import '_utilities/spacing';
@import '_utilities/layouts';
@import '_modules/buttons';
@import '_modules/dropdowns';
@import '_modules/forms';
@import '_modules/modals';
@import '_modules/sidebars';
@import '_modules/tables';
@import '_modules/typography';

.modal-form {
  display: absolute;
  top: 0;
  left: 0;
  max-width: 600px;
}
/* Always at the end */
@import '_utilities/media'