=transition($time)
    -webkit-transition: all $time ease
    -ms-transition:     all $time ease
    transition:         all $time ease

=pointer
    cursor: pointer

=transparentBackground($opacity)
    background-color: rgba(255, 255, 255, $opacity)

=noPadding
    padding: 0

=noMargin
    margin: 0

=fixedTable
    width: 75vw
    position: relative
    left: 20%

=cellStyles($fontSize, $fontWeight)
    padding: 20px 15px
    text-align: left
    color: #fff
    font-size: $fontSize
    font-weight: $fontWeight
    +pointer

=dropdownStyles
    +transparentBackground(0.3)
    -webkit-appearance: none
    font-size: 1em
    font-family: inherit
    margin: 5px 0
    color: inherit
    border: none
    padding: 10px
    +pointer
    +transition(.5s)
    
=optionStyles
    color: white
    font-family: $fontRegular
    background: $lightgreen
    +transition(.5s)